0-main.bat
1-compile.bat
2-remove-logstash.bat
3-install-logstash.bat
logstash-filter-cusum-*
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class
*.so
*.log
/.bundle

/db/*.sqlite3

/log/*.log
/tmp

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
